.default 
  .tit3 Like button
  .checkbox-toggle-group
    .checkbox-toggle 
      input#toggle-botton-3.custom-like-botton(type='checkbox')
      label.like-botton-text.op75(for='toggle-botton-3') 2
    .checkbox-toggle 
      input#toggle-botton-4.custom-like-botton(type='checkbox' checked="checked")
      label.like-botton-text.op75(for='toggle-botton-4') 12
