.default 
  .tit3 Like button
  .checkbox-toggle-group
    .checkbox-toggle 
      input#toggle-button-3.custom-like-button.material-icons(type='checkbox')
      label.like-button-text.like-one(for='toggle-button-3') 2
    .checkbox-toggle 
      input#toggle-button-4.custom-like-button.material-icons(type='checkbox' checked="checked")
      label.like-button-text.like-button-text-blue.like-two(for='toggle-button-4') 12
    .checkbox-toggle 
