$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';
.checkbox-toggle-group {
  display: flex;
  justify-content: space-between;
  width: 89.72px;
}
.checkbox-toggle {
  display: block;
  position: relative;
  margin: 15px 0;
}
.custom-like-botton {
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: top;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}
.custom-like-botton:checked {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: top;
  border: 1px solid #bc9cff;
  color: #bc9cff;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}
.custom-like-botton::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 17px;
  background: url("../images/heard2.jpg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 4px;
  background-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.3s;
}
.custom-like-botton:checked::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 17px;
  background: url("../images/heard1.jpg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 4px;
  background-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.3s;
}

.like-botton-text {
  position: absolute;
  left: 18px;
  top: 4px;
  z-index: -1;
  font-size: 10px;
  text-align: center;
  width: 10px;
}
