.pagination.default
  .pagination-header.tit3 pagination 
  .pagination-pages 
    .pagination-item.tit4.active 1
    .pagination-item.tit4.op50 2
    .pagination-item.tit4.op50 3
    .pagination-item.tit4.op50 ...
    .pagination-item.tit4.op50 15
    .pagination-item.pagination-to-end.material-icons.arrow-forward arrow_forward
  .pagination-title.tit4.op50 1-12 из 100+ вариантов аренды