$main-border: 1px solid rgba(31, 32, 65, 0.25);

.date-dropdown {
  z-index: 1;
}
.date-dropdown-group {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.date-dropdown-menu {
  position: relative;
  width: 150px;
}

.date-dropdown-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: $main-border;
  border-radius: 5px;
  cursor: default;
  background: white;
}

.date-dropdown__link {
  height: 44px;
  color: rgb(141, 141, 141);
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 103px;
}

.sub-date-dropdown-list {
  display: none;
  width: 150px;
  min-height: 44px;
  position: absolute;
  left: 0px;
  top: 45px;
  border: $main-border;
  background-color: white;
  border-radius: 3px;
  align-items: center;
}
.sub-date-dropdown__link {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 5px;
}
.sub-date-dropdown-list.open {
  display: flex;
}
