.default-small
  .sub-default
    .tit3 dropdown
    .tit4.op50 default
  .dropdown
    ul.dropdown-expand-list
      li.dropdownExtend__link.tit4.op75
        .dropdown__link-line 2 спальни, 2 кровати..
      span.material-icons expand_more