$headingColor: rgba(31, 32, 65, 1);
$mainColor: rgba(31, 32, 65, 0.75);
$lightColor: rgba(31, 32, 65, 0.25);
$heightBlock: 44px;


.fe-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.default {
  display: block;
  width: 320px;
  margin: 15px 0;
}

.default_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 20.44px;
}

.input-1,
.input-2 {
  width: 320px;
  height: 44px;
  border: 1px solid $lightColor;
  border-radius: 4px;
  padding: 0 15px;
}

::placeholder {
  opacity: 0.4;
}

.input-2:hover,
.input-2:focus {
  color: $mainColor;
  opacity: 0.75;
}

//Third input

.dropdown {
  position: relative;
}
.dropdown li{
  list-style: none;
}
//общий вид первой строки
.menu__list {
  display: flex;
  align-items: center;
  min-width: 100%;
  border: 1px solid black;
  height: $heightBlock;
  background: #FFFFFF;
  border: 1px solid $lightColor;
  border-radius: 4px;
  padding: 0 15px;
  background-color: white;;
}

//общий вид дропа
.sub-menu__list {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0px;
  top: $heightBlock;
  border: 1px solid $lightColor;
  border-radius: 4px;
  background-color: white;
}

//элементы дропа
.sub-menu__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: $heightBlock;
  border-bottom: 1px solid $lightColor;
}

//треугольник
.arrow {
  //display: none;
  position: absolute;
  right: 24px;
  top: 18px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
//активация
.sub-menu__list.open{
  display:block}

.date, .email {
  width: 320px;
  height: 44px;
  border-style: solid;
  border-color: rgb(211, 211, 211);
  border-radius: 5px;
  padding: 0 10px;
}

.dateDropGroup {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.dateDropMenu {
  position: relative;
  width: 150px;
}

.dateDropMenu__list {
  display: flex;
  border: 2px solid rgb(203 203 203);
  border-radius: 5px;
  cursor: default;
}

.dateDropMenu__link {
  height: 44px;
  color: rgb(141, 141, 141);
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 103px;
}

.dateDropSub-menu__list {
  display: none;
  width: 150px;
  min-height: 44px;
  position: absolute;
  left: 0px;
  top: 45px;
  border: 2px solid rgb(203 203 203);
  background-color: white;
  border-radius: 3px;
}
.dateDropSub-menu__link {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px;
}
.dateDropSub-menu__list.open {
  display: block;
}

/* CustomArrow -> */
.customArrow {
  display: block;
  width: 44px;
  height: 44px;
}
.wrap {
  position: relative;
  margin-top: 21px;
  margin-left: 18px;
}
.check-sign {
  position: absolute;
  background: rgb(141, 141, 141);
}

.check-part-1 {
  width: 8px;
  height: 2px;
  transform: rotate(45deg);
}
.check-part-2 {
  width: 8px;
  height: 2px;
  transform: rotate(-45deg);
  left: 4.5px;
  top: 0px;
}
/* <- CustomArrow  */