body
  .form-element-container
    .form-element-block
      .column
        include ./blocks/default/default
        include ./blocks/hover-focus/hover-focus
        include ./blocks/dropdown/dropdown
        include ./blocks/input-date/input-date
        include ./blocks/date-dropdown/date-dropdown
        include ./blocks/filter-dropdown/filter-dropdown
        include ./blocks/input-subscription/input-subscription
      .column
        include ./blocks/checkbox-buttons/checkbox-buttons
        include ./blocks/checkbox-radio/checkbox-radio
        include ./blocks/checkbox-toggle/checkbox-toggle

    .form-element-container
      .form-element-block  
       .column
        include ./blocks/dropdown-default/dropdown-default
        include ./blocks/dropdown-expanded/dropdown-expanded
