.fe-columnOne
  .fe-container
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 default
      input.input-1(type='text' placeholder='Email')
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 hover/focus
      input.input-2(type='text' placeholder='Enter a text')
    .default
      .default_sub
        .tit3 dropdown
      .dropdown
        ul.menu__list
          li.menu__link.tit4.op75 Сколько гостей
          span.menu__arrow.arrow
          ul.sub-menu__list.tit4.op75
            li.sub-menu__link Один гость
            li.sub-menu__link Два гостя
    .default
      form.dateBlock(action='/people')
        label.cub
          div Введите дату:
          input.date(type='text' name='date' placeholder='ДД.ММ.ГГГГ')
    .default
      .dateDropGroup
        .dateDropdown
          .tit3 DATE DROPDOWN
          .dateDropMenu
            .dateDropMenu__list
              .dateDropMenu__link ДД.ММ.ГГГГ
              .customArrow
                .wrap
                  #check-part-1.check-sign.check-part-1
                  #check-part-2.check-sign.check-part-2
              .dateDropSub-menu__list
                .dateDropSub-menu__link Выпадающий к.
        .dateDropdown
          .tit3 DATE DROPDOWN
          .dateDropMenu
            .dateDropMenu__list
              .dateDropMenu__link 19.08.2019
              .customArrow
                .wrap
                  #check-part-1.check-sign.check-part-1
                  #check-part-2.check-sign.check-part-2
              .dateDropSub-menu__list
                .dateDropSub-menu__link Выпадающий к.
    .default
      .tit3 Filter date dropdown
      .menuDateFilter
        .menu__list
          .menuDateFilter__link
            span.menuDateFilter__link1 19 авг
            span.menuDateFilter__link2 -
            span.menuDateFilter__link3 23 авг
          .customArrow
            .wrap
              #check-part-1.check-sign.check-part-1
              #check-part-2.check-sign.check-part-2
          .sub-menuDateFilter__list
            .sub-menu__link Выпадающий к.
    .subscribtionBlock
      .default(style='position: relative')
        .tit3 subscribtion text field
        form(name='subSend')
          input.email(type='text' name='message' placeholder='Email')
          .customArrowSub
            .wrap
              #check-part-1.check-sign.check-part-1
              #check-part-2.check-sign.check-part-2