.fe-columnOne
  .fe-container
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 default
      input.input-1(type='text' placeholder='Email')
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 hover/focus
      input.input-2(type='text' placeholder='Enter a text')
    .default
      .default_sub
        .tit3 dropdown
      .dropdown
        ul.menu__list
          li.menu__link.tit4.op75 Сколько гостей
          span.menu__arrow.arrow
          ul.sub-menu__list.tit4.op75
            li.sub-menu__link Один гость
            li.sub-menu__link Два гостя
    .default
      form.dateBlock(action='/people')
        label.cub
          div Введите дату:
          input.date(type='text' name='date' placeholder='ДД.ММ.ГГГГ')
    