body
  main.main-form-element
    .form-element-block
      .column
        include ./sup-block/first-column/input-default/input-default
        include ./sup-block/first-column/input-hover-focus/input-hover-focus
        include ./sup-block/first-column/dropdown/dropdown
        include ./sup-block/first-column/input-date/input-date
        include ./sup-block/first-column/dropdown-date/dropdown-date
        include ./sup-block/first-column/dropdown-filter/dropdown-filter
        include ./sup-block/first-column/input-subscription/input-subscription
      .column
        include ./sup-block/second-column/checkbox-buttons/checkbox-buttons
        include ./sup-block/second-column/checkbox-radio/checkbox-radio
        include ./sup-block/second-column/checkbox-toggle/checkbox-toggle
        include ./sup-block/second-column/button-like/button-like
        include ./sup-block/second-column/button-rate/button-rate
      .column
        include ./sup-block/third-column/range-slider/range-slider


    .form-element-container
      .form-element-block  
        .column
          include ./sub-block/dropdown-default/dropdown-default
          include ./sub-block/dropdown-expanded/dropdown-expanded
