.default
  .comfort
    .comfort-smile.material-icons.arrow_color_blue insert_emoticon
    .comfort-description
      .comfort-description-header.tit3 Комфорт
      .comfort-description-title.tit4 Шумопоглащающие стены
.default
  .convenience
    .convenience-building.material-icons.arrow_color_blue location_city
    .convenience-description
      .convenience-description-header.tit3 Удобство
      .convenience-description-title.tit4
        | Окно в каждой из спален