.default
  .date-dropdown-group
    .date-dropdown
      .tit3 DATE DROPDOWN
      .date-dropdown-menu 
        .date-dropdown-list
          .date-dropdown__link ДД.ММ.ГГГГ
          .material-icons.button-w-h-48 expand_more
        .sub-date-dropdown-list
          .sub-date-dropdown__link Выпадающий к1.
    .date-dropdown
      .tit3 DATE DROPDOWN
      .date-dropdown-menu 
        .date-dropdown-list
          .date-dropdown__link 19.08.2019
          .material-icons.button-w-h-48 expand_more
        .sub-date-dropdown-list
          .sub-date-dropdown__link Выпадающий к2.