.default-box-w222
  .sub-checkbox.tit3 Checkbox Buttons
  .checkbox
    input#smoke-allow.custom-checkbox(type='checkbox' name='smoke-allow' value='yes')
    label(for='smoke-allow') 
      .op50 Можно курить
    input#pets-allow.custom-checkbox(type='checkbox' name='pets-allow' value='yes' checked="checked")
    label(for='pets-allow') 
      .op50 Можно с питомцами
    input#guests-allow.custom-checkbox(type='checkbox' name='guests-allow' value='yes' checked="checked")
    label(for='guests-allow') 
      .op50 Можно пригласить гостей (до 10 человек)
