.form-elements {
  &__container {
    width: 1158px;
  }
  &__text-field-buttons {
    display: flex;
    gap: 126px;
    margin-bottom: 100px;
  }
  &__dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }
  &__dropdowns-block-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 712px;
  }
  &__lists {
    display: flex;
    margin-bottom: 54px;
  }
}
