.default
  .checkbox-toggle
    .tit3 TOGGLE 
    .spec-sentence
      input#toggle-botton-1.custom-toggle-botton(type='checkbox' checked="checked")
      label.toggle-botton-text(for='toggle-botton-1') Получать спецпредложения
    .spec-sentence
      input#toggle-botton-2.custom-toggle-botton(type='checkbox')
      label.toggle-botton-text(for='toggle-botton-2') Получать спецпредложения
