.default.button-rate-block-size
  .tit3 Rate button 
  .rate-group 
    ul.button-rate-one.button-rate-color.material-icons
      each val, index in ['star_border','star_border','star_border','star_border','star_border',]
        li= val
    .button-rate-second
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star_border
