.default.button-rate-block-size
  .tit3 Rate button 
  .rate-group 
    .button-rate-first 
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star_border
    .button-rate-second
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star
      .material-icons.button-rate-color star_border