.fe-columnOne
  .fe-container
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 default
      input.input-1(type='text' placeholder='Email')
    .default
      .default_sub
        .tit3 text field
        .tit4.op50 hover/focus
      input.input-2(type='text' placeholder='Enter a text')
    .default
