.headingGroup
  .block.l1
    .lightOp H1
    .block_r This one is the sub-section or 			widget title
  .block.l2
    .lightOp H2
    .block_r Next one is the item title inside widget
  .block.l3
    .lightOp H3
    .block_r This is a label or cta text
  .block.l4
    .lightOp body
    .block_r.lightOp This is the body text which is used for most of the design, like paragraphs, lists, etc.