$lightColor: rgba(31, 32, 65, 0.25);

.dropdown {
  position: relative;
  list-style: none;
  cursor: default;
}
.dropdown-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1px solid $lightColor;
  border-radius: 4px;
  background-color: white;
}
.dropdown__link{
  padding-left: 15px;
}
.sub-dropdown-list {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0px;
  top: 43px;
  border: 1px solid $lightColor;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
}
.sub-dropdown-list.open {
  display: block;
}

//Drop elements
.sub-dropdown__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 44px;
}

