.default.button-rate-block-size
  .tit3 Rate button 
  .rate-group.material-icons 
    ul.left-stars-rate
      each val, index in ['star','star','star','star','star_border',]
        li.rate-star= val
    ul.right-stars-rate
      each val, index in ['star','star','star','star','star',]
        li.rate-star= val
