.default
  .ckeckbox-radio
    .tit3 Radio Buttons
    .checkbox-gender
      input#gender-m.custom-checkbox-radio(type='radio' name='gender' value='m' checked="checked")
      label(for='gender-m') Мужчина
      input#gender-f.custom-checkbox-radio(type='radio' name='gender' value='f')
      label(for='gender-f') Женщина