.default218
  .button-title buttons
  .button-items
    .button-item-type1 CLICK ME
    .button-item-type1.button-hover-type1 CLICK ME
    .button-item-type2 CLICK ME
    .button-item-type2.button-hover-type2 CLICK ME
  .icon-click
    .icon-click-default CLICK ME
    .icon-click-hover CLICK ME
  .forward-pay
    .forward-pay-title перейти к оплате
    .material-icons.arrow-forward arrow_forward