$lightColor: rgba(31, 32, 65, 0.25);
$heightBlock: 44px;
$main-border: 1px solid rgba(31, 32, 65, 0.25);

.filter-dropdown {
  position: relative;
  width: 266px;
  z-index: 1;
}

.filter-dropdown-list {
  display: flex;
  align-items: center;
  min-width: 100%;
  border: $main-border;
  height: $heightBlock;
  background: #FFFFFF;
  border: 1px solid $lightColor;
  border-radius: 4px;
  padding: 0 15px;
  background-color: white;;
}
.filter-dropdown__link {
  height: 44px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 280px;
}
.filter-dropdown__link-between {
  height: 44px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 3px;
}
.sub-filter-dropdown-list {
  display: none;
  width: 266px;
  min-height: 44px;
  position: absolute;
  left: 0px;
  top: 43px;
  border: $main-border;
  background-color: white;
  border-radius: 3px;
}
.sub-filter-dropdown__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: $heightBlock;
  border-bottom: 1px solid $lightColor;
}
.sub-filter-dropdown-list.open {
  display: block;
}
