.form-elements__lists-wrapper
  .heading
    h3.heading__title.tit3 rich Checkbox Buttons
  .checkbox-list
    ul.checkbox-list__list.js-checkbox-list__list
      li.checkbox-list__item
        label.checkbox
          .checkbox__container
            input.checkbox__input(type="checkbox" title="Широкий коридор")
            span.checkbox__box
            span.checkbox__title.checkbox__title--font-bold Широкий коридор
              span.checkbox__description 
                | Ширина коридоров в номере 
                br
                | не менее 91 см.
      li.checkbox-list__item
       label.checkbox
          .checkbox__container
            input.checkbox__input(type="checkbox" title="Помощник для инвалидов")
            span.checkbox__box
            span.checkbox__title.checkbox__title--font-bold Помощник для инвалидов
              span.checkbox__description На 1 этаже вас встретит специалист и проводит до номера