.default266
  p.range-slider-box
    label.range-slider-title.tit3(for='amount') Range Slider:
    input#amount(type='text' readonly='' style='border:0; color:rgb(31, 32, 65, 0.5); font-weight:bold;')
  #slider-range.range-slider
