$mainFont: Montserrat, sans-serif;
body {
  box-sizing: border-box;
  font-family: $mainFont;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.cat_container {
  display: flex;
  margin: 150px;
  padding: 0px;
  justify-content: space-between;
  border: 0px dashed #00c3ff;
}
.fe-container{
  display: flex;
  flex-direction: column;
}