.default
  .checkbox-list-header-title
    h2 Expandable checkbox list
    .mark-down-first M
.default
  .checkbox-list-header-title
    h2 Expandable checkbox list
    .mark-down-second M
  .checkbox-list-items
    input#breakfast.customCheckbox(type='checkbox' name='breakfast')
    label.checkbox-title(for='breakfast') Завтрак
    input#desk.customCheckbox(type='checkbox' name='desk' checked='checked')
    label.checkbox-title(for='desk') Письменный стол
    input#cair-for-feeding.customCheckbox(type='checkbox' name='cair-for-feeding' checked='checked')
    label.checkbox-title(for='cair-for-feeding') Стул для кормления
    input#little-bed.customCheckbox(type='checkbox' name='little-bed' checked='checked')
    label.checkbox-title(for='little-bed') Кроватка
    input#TV.customCheckbox(type='checkbox' name='TV')
    label.checkbox-title(for='TV') Телевизор
    input#shampoo.customCheckbox(type='checkbox' name='shampoo')
    label.checkbox-title(for='shampoo') Шампунь