$lightColor: rgba(31, 32, 65, 0.25);

.default {
  display: block;
  width: 320px;
  margin-bottom: 25px;
}

.default-small {
  display: block;
  width: 266px;
  margin: 15px 0;
}

.sub-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 20.44px;
}

.input-default {
  width: 320px;
  height: 44px;
  border: 1px solid $lightColor;
  border-radius: 4px;
  padding: 0 15px;
}
