.default
  .sub-default
    .tit3 dropdown
  .dropdown
    ul.dropdown-list
      li.dropdown__link.tit4.op75 Сколько гостей
      span.dropdown-arrow
      ul.sub-dropdown-list.tit4.op75
        li.sub-dropdown__link Один гость
        li.sub-dropdown__link Два гостя