.default
  .sub-default
    .tit3 dropdown
    .tit4 expanded
  .dropdown
    ul.dropdown-list
      li.dropdown-expanded__link.tit4.op75 1 спальня, 1 кровать
      span.dropdown-arrow
      ul.sub-dropdown-expended-list.tit4.op75
        li.sub-dropdown-expanded__link Спальни
          .sub-dropdown-counter
            .bedroom.counter-minus -
            .bedroom.counter-equals 1
            .bedroom.counter-plus +
        li.sub-dropdown-expanded__link Кровати
          .sub-dropdown-counter
            .bed.counter-minus -
            .bed.counter-equals 1
            .bed.counter-plus +
        li.sub-dropdown-expanded__link Ванные комнаты
          .sub-dropdown-counter
            .bathroom.counter-minus -
            .bathroom.counter-equals 1
            .bathroom.counter-plus +