.dropdown {
  position: relative;
  cursor: default;
}
.dropdown li {
  list-style: none;
}
.dropdown-list {
  display: flex;
  align-items: center;
  min-width: 100%;
  border: 1px solid black;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 0 15px;
  background-color: white;
}
.sub-dropdown-expended-list {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0px;
  top: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background-color: white;
  padding: 0 10px;
}
.sub-dropdown-expended-list.open {
  display: block;
}

.sub-dropdown-expanded__link {
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 44px;
  justify-content: space-between;
}

.dropdown-arrow {
  //display: none;
  position: absolute;
  right: 24px;
  top: 18px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.sub-dropdown-counter {
  display: flex;
  flex-direction: initial;
}

.counter-minus,
.counter-plus,
.counter-equals {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-minus,
.counter-plus {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 50%;
}
