.default
  .sub-default
    .tit3 dropdown
    .tit4 expanded
  .dropdown
    ul.dropdown-expand-list
      li.dropdownExtend__link.tit4.op75
          .dropdown__link-line
            .dropdown__link-line1 1 спальня
            .dropdown__link-lineSpace , 
            .dropdown__link-line2 1 кровать
      span.dropdown-expend-arrow
      ul.sub-dropdown-extend-list.tit4.op75
        li.sub-dropdown-extend__link Спальни
          .sub-dropdown-counter
            .bedroom.counter-minus -
            .bedroom.counter-equals 1
            .bedroom.counter-plus +
        li.sub-dropdown-extend__link Кровати
          .sub-dropdown-counter
            .bed.counter-minus -
            .bed.counter-equals 1
            .bed.counter-plus +
        li.sub-dropdown-extend__link Ванные комнаты
          .sub-dropdown-counter
            .bathroom.counter-minus -
            .bathroom.counter-equals 0
            .bathroom.counter-plus +