.default
  .sub-default
    .tit3 dropdown
  .dropdown
    ul.dropdown-list
      .dropdown__link.tit4.op75 Сколько гостей
      span.dropdown-arrow
      ul.sub-dropdown-list.tit4
        li.sub-dropdown__link.op75 Один гость
        li.sub-dropdown__link.op75 Два гостя