.default
  .tit3 Filter date dropdown
  .filter-dropdown
    .filter-dropdown-list
      .filter-dropdown__link 19 авг - 23 авг
      .arrow-custom
        .arrow-custom-wrap
          #check-part-1.check-sign.check-part-1
          #check-part-2.check-sign.check-part-2
      .sub-filter-dropdown-list
        .sub-filter-dropdown__link Выпадающий к.


