.form-elements__dropdowns-wrapper 
  .heading
    .heading__title.tit3 dropdown
  .form-elements__dropdowns-container
    .dropdown__button-area 
      .dropdown-new.tit4 Сколько гостей
      .dropdown__arrow.material-icons expand_more
    .dropdown__drop
