.headingGroup
  .block.tit1
    .op25 H1
    .block_r This one is the sub-section or 			widget title
  .block.tit2
    .op25 H2
    .block_r Next one is the item title inside widget
  .block.tit3
    .op25 H3
    .block_r This is a label or cta text
  .block.tit4
    .op25 body
    .block_r.op75 This is the body text which is used for most of the design, like paragraphs, lists, etc.