.column
  .list__elem
    .colorBox.col1
    .title
      .title_sup Dark Shade 100%
      .title_sub #1F2041
  .list__elem
    .colorBox.col2
    .title
      .title_sup Dark Shade 75%
      .title_sub #1F2041
  .list__elem
    .colorBox.col3
    .title
      .title_sup Dark Shade 50%
      .title_sub #1F2041
  .list__elem
    .colorBox.col4
    .title
      .title_sup Dark Shade 25%
      .title_sub #1F2041
  .list__elem
    .colorBox.col5
    .title
      .title_sup Dark Shade 5%
      .title_sub #1F2041
  .list__elem
    .colorBox.col6
    .title
      .title_sup Purple
      .title_sub #BC9CFF
  .list__elem
    .colorBox.col7
    .title
      .title_sup Green
      .title_sub #6FCF97
