

doctype html
html(lang='en')
    //include pages/ui-kit-colors-type/colors-and-type-head
    //include pages/ui-kit-colors-type/colors-and-type-body
    include pages/ui-kit-form-elements/form-elements-head
    include pages/ui-kit-form-elements/form-elements-body