

doctype html
html(lang='en')
    //include colorsAndType/colorsAndType__head
    //include colorsAndType/colorsAndType__body
    include formElements/formElements__head
    include formElements/formElements__body