

doctype html
html(lang='en')
    //include colorsAndType/page-colors-and-type-head
    //include colorsAndType/page-colors-and-type-body
    include formElements/page-form-elements-head
    include formElements/page-form-elements-body