

doctype html
html(lang='en')
    //include colorsAndType/page-colors-and-type-head
    //include colorsAndType/page-colors-and-type-body
    include pages/ui-kit-form-elements/page-form-elements-head
    include pages/ui-kit-form-elements/page-form-elements-body