

doctype html
html(lang='en')
    //include pug/colorsAndType/head
    //include pug/colorsAndType/body
    include pug/formElements/formElements__head
    include pug/formElements/formElements__body