

doctype html
html(lang='en')
    //include pug/colorsAndType/colorsAndType__head
    //include pug/colorsAndType/colorsAndType__body
    include pug/formElements/formElements__head
    include pug/formElements/formElements__body