.default-small(style='position: relative')
      .tit3 subscribtion text field
      form(name='subSend')
        input.input-email(type='text' name='message' placeholder='Email')
        .input-subscription-arrow-custom
          .arrow-subscription-custom-wrap
            .check-part-3
            .check-part-4
            .check-part-5