.default-small(style='position: relative')
      .tit3 subscription text field
      form.subscription-form(name='subSend')
        input.input-email(type='text' name='message' placeholder='Email')
        .material-icons.arrow_color_blue arrow_forward